body{
    font-family: "Comic Sans MS"; /* Шрифт на веб-странице */
    background: url(space.jpg) ; /* Цвет фона */
    margin: 0; /* Убираем отступы */
}
.base {
    width: 1100px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
}
.header {
    background: pink; /* Цвет фона */
    font-size: 40pt; /* Размер текста */
    color: white; /* Цвет текста */
    padding: 20px; /* Отступы вокруг текста */
    text-aling: center;
    border: 2px solid HotPink;
}
.sidebar{
    float: right; /* Обтекание по левому краю, где написано задания*/
    font-size: 15pt; /* Размер текста */
    width: 130px; /* Ширина правой колонки */
    padding: 10px; /* Отступы вокруг текста */
    background: PapayaWhip; /* Цвет фона */
    border: 2px solid LightSalmon;
}
.sidebar a {
    color: #752641; /* Цвет ссылок */
}
.content{
    margin-right: 153px; /* Отступ справа */
    padding: 30px; /* Поля вокруг текста */
    background: PapayaWhip; /* Цвет фона левой колонки */
    font-size: 15pt; /* Размер текста */
    border: 2px solid LightSalmon;
}
.footer{
    background: pink; /* Цвет фона */
    color: snow; /* Цвет текста */
    padding: 10px; /* Отступы вокруг текста */
    margin-top: 20px; /* Отступ сверху */
    font-size: 20pt;
    border: 2px solid HotPink;
}